:root{
    --primary-color:#ff9854;
    --van-tabbar-item-icon-size: 50px !important;
    --theme-linear-gradient:linear-gradient(90deg,#fa8c1d,#fcaf3f);
    --van-rate-icon-full-color:#ffffff;
    --van-primary-color:var(--primary-color)

}

/*去除滚动条 &::-webkit-scrollbar{display:none}*/

body{
    font-size: 14px;
}

/* 是有点问题的，底部还是会露出一点,不过关系不大 */
.top-page{
    position: relative;
    z-index: 9;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    /*overflow-y: hidden;*/
}