table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0;
}

th,td{
    padding: 8px 16px;
}

th{
    background-color: #ccc;
    text-align: center;
    border: 1px solid #cccfff;
    font-weight: 600;
}

td{
    border: 1px solid #ccc;
    text-align: left;
}